<% set_meta_data(
  description: @entry.bookmark.summary.to_plain_text,
  thumbnail: nil,
  url: full_url_for(@entry.bookmark)
) %>
<% set_title t("bookmarks.show", title: @entry.title) %>
<%= render @entry %>

<% if logged_in? %>
  <div>
    <%= link_to "Edit this bookmark", edit_bookmark_path(@entry.bookmark) %> |
    <%= link_to "Back to bookmarks", bookmarks_path %>
  </div>
<% end %>
