<div id="tags_list" class="field flex-col">
  <%= turbo_stream_from "tags" %>

  <%= form.collection_check_boxes :tag_ids, Tag.all, :id, :name do |b|
    b.label { b.check_box + b.text }
  end %>
</div>
