<h2>Posts</h2>

<%= link_to 'New Post', new_post_path %>

<br>

<% @posts.each do |post| %>
  <section class="post_list__item">
    <h3><%= link_to post.title, post %></h3>
    <%= post.body %>
  </section>
<% end %>
