/*
 * Place all the styles related to the posts controller here.
 * They will automatically be included in application.css.
 * You can use Sass (SCSS) here: https://sass-lang.com/
 */

.drafts_list {
  list-style: disclosure-closed;
  padding-left: 2rem;
}

.post_list__item {
  padding: 1rem 0rem;
  border-bottom: 1px solid gray;
}
.post_list__item:last-of-type {
  border-bottom-width: 0px;
}
.post_list__item + .post_list__item {
  margin-top: 2rem;
}

.post_list__item h3 {
  margin-top: 0;
}

.post__title {
  font-size: x-large;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.post__meta {
  display: inline-block;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 1.5rem;
  color: #828282;
}

.post__edit-link {
  display: inline-block;
  margin-left: 0.75rem;
}

code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

.with-shadow {
  box-shadow: 0px 0px 30px -10px black;
  margin: 30px;
  border-radius: 5px;
}

.display-as-row {
  display: flex;
  flex-direction: row;
}

.gapped {
  gap: 3rem;
}

.field_description {
  font-size: small;
  color: #475569;
}
