// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.drafts_list {
  list-style: disclosure-closed;
  padding-left: 2rem;
}

.post_list__item {
  padding: 1rem 0rem;
  border-bottom: 1px solid gray;

  &:last-of-type {
    border-bottom-width: 0px;
  }

  & + & {
    margin-top: 2rem;
  }

  h3 {
    margin-top: 0;
  }
}

.post__title {
  font-size: x-large;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.post__meta {
  display: inline-block;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 1.5rem;
  color: #828282;
}

.post__edit-link {
  display: inline-block;
  margin-left: 0.75rem;
}
