<% set_title "Session '#{@user_session.name}'" %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user_session.name %>
</p>

<%= link_to 'Edit', edit_user_session_path(@user_session) %> |
<%= link_to 'Back', user_sessions_path %>
